*.o
*.so
*.swp
.deps
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.cache
config.log
config.status
configure
depcomp
install-sh
m4/
Makefile
Makefile.in
missing
showerthoughts-*.tar.xz
showerthoughts
*.exe
